body {
    font-family: Arial;
    margin: 0;
    background: #fff5f5;
}

header {
    background: #ff4d4d;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 8px;
}

button {
    background: #ff4d4d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}